.advantages {
    overflow-x:visible;
    &__container {
        max-width: 1160px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__wrapper {
        padding: 0 0 80px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 30px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
    }
}

.card {
    position: relative;
    max-width: 248px;
    border: 1px solid rgba(228, 228, 229, 0.5);
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
    border-radius: 22px;

    &__wrapper {
        padding: 30px 21px;
        height: 100%;
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        margin-top: 10px;
    }

    &__desc {
        font-size: 14px;
    }

    &__open-menu {
        display: flex;
        justify-content: flex-start;
    }

    &__link {
        font-size: 14px;
        text-decoration: underline;
        text-decoration-color: #b01e1e;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__top {
        margin-bottom: 30px;
        img {
            width: 60px;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 171px;
    }

    &__list {
        list-style: decimal;
        line-height: 22px;
        margin: 10px 0;
    }

    &__list-item {
        font-size: 14px;
    } 
}

@media(max-width: 899px) {
    .advantages {
        &__cards {
            flex-wrap: wrap;
            gap: 15px;
        }

        &__title {
            margin-bottom: 15px;
            font-size: 30px;
        }

        &__wrapper {
            padding-bottom: 40px;
        }
    }

    .card {
        max-width: 100%;

        &__top {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        }

        &__bottom {
            height: auto;
            gap: 10px;
        }

        &__list {
            margin: 0;
        }
    }
}

