html,
body {
  height: 100%;
  color: #000000;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

body {
  width:100vw;
  overflow-x:hidden;
}

.box {
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  margin-right: 15px;
}

.footer {
  flex: 0 0 auto;
}



.container-1300 {
  max-width: 1300px;
  margin: 0 auto;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-1308 {
  max-width: 1308px;
  margin: 0 auto;
}

.container-right {
  padding-left: calc((100% - 1300px) / 2);
}

.container-pl71 {
  max-width: 1230px;
  margin-left: 71px;
}

div.title {
  font-weight: 700;
  font-size: 48px;
  gap: 5px;
}

.desc {
  font-size: 14px;
  color: #6A6A6A;
}

.red-text {
  background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.input-text {
  background: #E8E8E8;
  border-radius: 15px;
  padding: 17px 15px;
  font-size: 12px;
  color: #6A6A6A;
}

.red-btn {
  color: #fff;
  font-weight: 600;
  background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
  border-radius: 15px;
}

.red-border-btn {
  background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border: 1px solid red;
  border-radius: 15px;
}


// Указание цены со скидкой
.price {
  &__now {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  &__sale {
    display: flex;
    align-items: center;
  }

  &__cost {
    font-size: 18px;
    text-decoration-line: line-through;
    color: #6A6A6A;
    margin-right: 10px;
  }

  &__percent {
    font-size: 18px;
    margin-right: 2px;
    background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

// Счетчик кол товара
.counter {
  &__wrapper {
      display: flex;
      align-items: center;
      padding: 9px 16px;
      background: #E8E8E8;
      border-radius: 15px;;
      max-width: 125px;
      position: relative;
      z-index: 3;
  }

  input[type="number"]{
      -moz-appearance: textfield;
      text-align: center;
    font-size: 18px;
    color: #000;
    max-width: 32px;
    margin: 0px 5px;
    background: #E8E8E8;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
      -webkit-appearance: none;
      margin: 0;
  }

  &__btn--plus {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-left: 1px solid #A8A8A8;
    height: 32px;
    z-index: -1;
    cursor: pointer;
    user-select: none;
  }

  &__btn--minus {
    display: flex;
    align-items: center;
    padding-right: 10px;
    border-right: 1px solid #A8A8A8;
    height: 32px;
    z-index: -1;
    cursor: pointer;
    user-select: none;
  }
}

.red-border {
  --c1: #730000;
  --c2: #FF0000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(294deg, var(--c1, #730000), var(--c2, #FF0000) 50%, var(--c1, #FF0000)) var(--x, 0)/200%;
  color: #fff;
}

.red-hover-btn {
  --c1: #730000;
  --c2: #FF0000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 34px;
  transition: background 1s;
  background: linear-gradient(294deg, var(--c1, #730000), var(--c2, #FF0000) 50%, var(--c1, #FF0000)) var(--x, 0)/200%;
  border-radius: 15px;
  color: #fff;
}

.red-hover-btn:hover { --x: 100%; }


.text-hover-red {
  --c1: #730000;
  --c2: #FF0000;
  background: linear-gradient(294deg, var(--c1, #730000), var(--c2, #FF0000) 50%, var(--c1, #FF0000)) var(--x, 0)/200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: 1s;
}

.text-hover-red:hover { --x: 100%; }

.text-red-infinite {
  --c1: #730000;
  --c2: #FF0000;
  background: linear-gradient(294deg, var(--c1, #730000), var(--c2, #FF0000) 50%, var(--c1, #FF0000)) var(--x, 0)/200%;
  animation: text-red-infinite 6s infinite ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@keyframes text-red-infinite {
  0% { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

// Изменение базовых стилей чека
.checkbox {
  input[type="checkbox"] {
      display: none;
  }

  label:before {
      content: " ";
      color: #000;
      display: inline-block;
      font: 20px/30px Arial;
      margin-right: 15px;
      position: relative;
      text-align: center;
      text-indent: 0px;
      width: 30px;
      height: 30px;
      background: #FFF;
      border: 1px solid #e3e3e3;
      border-image: initial;
      vertical-align: middle;
    }

    input:checked + label:before {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(/images/checkbox/done.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }

    input:disabled + label:before {
      background: #eee;
      color: #aaa;
    }
}

.hit {
  &__wrapper {
      position: absolute;
      top: 5px;
      left: 8px;
  }

  &__body {
      position: relative;
  }

  &__title {
      position: absolute;
      top: 15px;
      left: 7px;
      color: #fff;
      font-weight: 800;
      font-size: 14px;
  }
}

.discount {
  &__wrapper {
      position: absolute;
      top: 5px;
      right: 8px;
  }
  
  &__body {
      position: relative;
  }

  &__title {
      position: absolute;
      top: 15px;
      left: 7px;
      color: #fff;
      font-weight: 800;
      font-size: 14px;
  }
}

.new {
  &__wrapper {
      position: absolute;
      top: 5px;
      left: 8px;
  }

  &__body {
      position: relative;
  }

  &__title {
      position: absolute;
      top: 15px;
      left: 4px;
      color: #fff;
      font-weight: 800;
      font-size: 14px;
  }
}

@media(max-width: 899px) {
  .new {
    &__wrapper {
      width: 30px;
      top: 5px;
      left: 6px;
    }

    &__title {
      top: 10px;
      left: 4px;
      font-size: 9px;
    }
  }

  .product__hit {
    width: 30px;
    top: 5px;
    left: 6px;
  }

  .hit {
    &__wrapper {
      width: 30px;
      top: 5px;
      left: 6px;
    }

    &__title {
      top: 10px;
      left: 5px;
      font-size: 9px;
    }
  }

  .discount {
    &__wrapper {
      width: 30px;
      top: 5px;
      right: 6px;
    }

    &__title {
      top: 10px;
      left: 5px;
      font-size: 9px;
    }
  }
  
  .container-right {
    padding-left: 15px;
  }
}

.swiper-button-next,
.swiper-button-prev {
   outline: none;
   display: none;
}


button.swiper-button-next {
    background-image: url(/images/slider/arrow-next-bc.svg);
    background-position: center center;
    width: 80px;
    height: 76px;
}

button.swiper-button-prev {
    background-image: url(/images/slider/arrow-next-bc.svg);
    background-position: center center;
    width: 80px;
    height: 76px;
}

button.swiper-button-next::after {
    content: '';
    background-image: url(/images/slider/arrow-next.svg);
    position: absolute;
    top: 13px;
    left: 34px;
    width: 12px;
    height: 22px;
}

button.swiper-button-prev::after {
    display: none;
}

button.swiper-button-prev::before {
    content: '';
    background-image: url(/images/slider/arrow-prev.svg);
    position: absolute;
    top: 13px;
    left: 32px;
    width: 12px;
    height: 22px;
}

button.swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}

.more-btn {
  margin-top: 5px;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-color: #da2727;
  background: -o-linear-gradient(1.99deg, #730000 -9.57%, #FF0000 115.37%);
  background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &__tags {
    margin-top: 15px;
    margin-left: 100px;
  }
}

.no-wrap {
  white-space: nowrap
}

.main-overlay {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  z-index: 95;
}

.main-overlay.show {
  opacity: 1;
  visibility: visible;
}

.overlay-click {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  z-index: 98;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.6s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  z-index: 96;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.no-scroll {
  overflow: hidden;
}

.overlay.no-show {
  opacity: 1;
}

.input-file {
  input[type="file"]{
      display: none;
  }

  p {
    font-weight: 500;
    font-size: 12px;
  }

  label{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 13px 15px;
      background: #E8E8E8;
      border-radius: 15px;
      width: 300px;
      cursor: pointer;

      img {
          padding-left: 10px;
          border-left: 1px solid #000;
      }
  }
}


.input-text {
  font-size: 12px;
  color: #6A6A6A;
  background: #E8E8E8;
  border-radius: 15px;
  padding: 17px 15px;
}

.gray-text {
  color: #6A6A6A;
}

.hidden {
  display: none;
}



.view-all {
  text-decoration: underline;
  text-decoration-color: #FF0000;
}

div .menu-active {
  font-weight: 700;
  background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  &__content {
    margin: auto;
    display: block;
    max-height: 730px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  } 
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-gallery.show {
  opacity: 1;
  visibility: visible;
}

.select-wrapper {
  position: relative;
  width: 300px;
}

.select {
  width: 300px;
  height: 50px;
  padding: 13px 15px;
  font-size: 12px;
  cursor: pointer;
  background: #E8E8E8;
  border-radius: 15px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &__arrow {
    position: absolute;
    right: 16px;
    bottom: 13px;
    transform: rotate(0deg);
    transition: transform 0.6s ease;
  }

  &__arrow.deg {
    transform: rotate(180deg);
    transition: transform 0.6s ease;
  }
}

.select__arrow {
  position: absolute;
  right: 16px;
  bottom: 13px;
  transform: rotate(0deg);
  transition: transform 0.6s ease;
}

.select__arrow.deg {
  transform: rotate(180deg);
  transition: transform 0.6s ease;
}

.subtitle {
  font-size: 32px;
  font-weight: 700;
}

@media(max-width: 899px) {
  .wrapper {
    margin: 0;
    overflow: hidden;
  }

  .subtitle {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
  }

  .modal__content {
    height: 55%;
    padding: 0 20px;
  }

  .modal {
    height: 92%;
    z-index: 98;
    
    .contacts__modal &__content {
      height: 34%;
    }

    &__close {
      top: 15px;
      width: 8%;
      right: 15px;
    }
  }
  
}

.mobile-no-scroll {
  overflow:hidden;
  height: 100vh;
}

.mobile-scroll {
  overflow-y: scroll;
  height: 100vh;
}