$maxWidth: 1920;
$minWidth: 320;

@mixin adaptiv-font($pcValue, $mobValue) {
  $addSize: $pcValue - $mobValue;
  $differenceWidth: $maxWidth - $minWidth;
  font-size: calc(
    #{$mobValue + px} + #{$addSize} *
      ((100vw - #{$minWidth + px}) / #{$differenceWidth})
  );
}



@mixin adaptiv-padding($pcValue, $mobValue) {
  $addSize: $pcValue - $mobValue;
  $differenceWidth: $maxWidth - $minWidth;
  padding: calc(#{$mobValue + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$differenceWidth}));
}

@mixin adaptiv-paddingRight($pcValue, $mobValue) {
  $addSize: $pcValue - $mobValue;
  $differenceWidth: $maxWidth - $minWidth;
  padding-right: calc(
    #{$mobValue + px} + #{$addSize} *
      ((100vw - #{$minWidth + px}) / #{$differenceWidth})
  );
}

@mixin adaptiv-paddingLeft($pcValue, $mobValue) {
  $addSize: $pcValue - $mobValue;
  $differenceWidth: $maxWidth - $minWidth;
  padding-left: calc(
    #{$mobValue + px} + #{$addSize} *
      ((100vw - #{$minWidth + px}) / #{$differenceWidth})
  );
}

@mixin adaptiv-paddingTop($pcValue, $mobValue) {
  $addSize: $pcValue - $mobValue;
  $differenceWidth: $maxWidth - $minWidth;
  padding-top: calc(
    #{$mobValue + px} + #{$addSize} *
      ((100vw - #{$minWidth + px}) / #{$differenceWidth})
  );
}

@mixin adaptiv-paddingBottom($pcValue, $mobValue) {
  $addSize: $pcValue - $mobValue;
  $differenceWidth: $maxWidth - $minWidth;
  padding-bottom: calc(
    #{$mobValue + px} + #{$addSize} *
      ((100vw - #{$minWidth + px}) / #{$differenceWidth})
  );
}



@mixin adaptiv-marginRight($pcValue, $mobValue) {
  $addSize: $pcValue - $mobValue;
  $differenceWidth: $maxWidth - $minWidth;
  margin-right: calc(#{$mobValue + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$differenceWidth}));
}

@mixin adaptiv-marginLeft($pcValue, $mobValue) {
  $addSize: $pcValue - $mobValue;
  $differenceWidth: $maxWidth - $minWidth;
  margin-left: calc(#{$mobValue + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$differenceWidth}));
}

@mixin adaptiv-marginTop($pcValue, $mobValue) {
  $addSize: $pcValue - $mobValue;
  $differenceWidth: $maxWidth - $minWidth;
  margin-top: calc(#{$mobValue + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$differenceWidth}));
}

@mixin adaptiv-marginBottom($pcValue, $mobValue) {
  $addSize: $pcValue - $mobValue;
  $differenceWidth: $maxWidth - $minWidth;
  margin-bottom: calc(#{$mobValue + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$differenceWidth}));
}




@mixin adaptiv-gridGap($pcValue, $mobValue) {
  $addSize: $pcValue - $mobValue;
  $differenceWidth: $maxWidth - $minWidth;
  grid-gap: calc(#{$mobValue + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$differenceWidth}));
}