.member {
    &__wrapper {
        padding: 20px 0 80px 0;
    }

    &__title {
        font-weight: 600;
        margin: 30px 0 10px 0;
    }

    &__desc {
        font-size: 14px;
    }
    
    &__heading {
        font-weight: 600;
        font-size: 20px;
    }

    &__items {
        max-width: 1095px;
        margin-top: 23px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__group {
        display: flex;
        justify-content: center;
    }

    &__body {
        background-image: url(/images/member/member-bc.svg);
        background-position: center center;
        background-repeat: no-repeat;
        width: 368px;
        height: 304px;
        padding: 54px 25px 86px 43px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 65%;
    }
}

div .member__body--3 {
    padding: 35px 30px 87px 48px;
}

div .member__img--3 {
    width: 75%
}

@media(max-width: 899px) {
    .member {
        &__heading {
            font-size: 18px;
        }

        &__items {
            position: relative;
            max-width: 100%;
        }

        &__body {
            background-size: 285px;
            width: 276px;
            height: 227px;
            padding: 58px 25px 86px 26px;
        }

        &__title {
            font-size: 12px;
            margin: 17px 0 6px 0;
        }

        &__desc {
            font-size: 10px;
        }

        &__img {
            width: 80%;
        }

        .member__body--2 {
            padding: 57px 20px 86px 39px;
        }

        .member__body--3 {
            padding: 35px 30px 85px 34px;
        }
    }
}

.member__pagination span.swiper-pagination-bullet  {
	height: 8px;
    width: 8px;
    border-radius: 100px;
    border: 1px solid rgb(192 38 38);
    background-color: #fff;
    opacity: 1;
}

button.swiper-pagination.member__pagination.swiper-pagination-bullets {
    top: 232px;
    left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member__pagination span.swiper-pagination-bullet-active {
	position: relative;
    height: 12px;
    width: 12px;
	background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
	opacity: 1;
}