.gallery {
    &__header {
        display: flex;
        padding: 30px 0 40px 0;
    }

    &__more-tags {
      display: block;
    }

    &__tag {
        font-size: 14px;
        padding: 4px 6px;
        background: #E8E8E8;
        border-radius: 8px;
    }

    &__tag--white {
      background: #fff;
    }

    &__content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 15px 10px;
      margin-left: 100px;
    }

    .mansory {
        margin: 6px;
        column-count: 3;
        column-gap: 6px;

        &__wrapper {
          height: 100%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: flex-end;
          padding: 12px;
        }

        &__tags {
          display: flex;
          flex-wrap: wrap;
          justify-content: end;
          width: 38%;
          gap: 10px 7px;
        }

        &__price {
          padding: 4px 6px;
          font-weight: 600;
          font-size: 14px;
          background-color: #FFFFFF;
          box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          border: 1px solid#be1b1b;
        }
      
        >div {
          width: 100%;
          display: inline-block;
          color: #ffffff;
          background: #E4E4E5;
          border-radius: 22px;
          margin-bottom: 6px;
          &.mansory__w200 {
            height: 200px;
          }
          &.mansory__w300{
            height: 300px;
          }
          &.mansory__w400 {
            height: 400px;
          }
        }
      }
}

.tag-active {
    font-weight: 600;
    color: #fff;
    background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
    border-radius: 8px;
}

.hidden {
  display: none;
}