.product {
  &__wrapper {
    padding: 30px 0 40px 0;
    
  }

  &__heading {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }

  &__header {
    display: flex;
  }

  &__content {
    max-width: 640px;
    margin-left: 23px;
  }

  &__desc {
    font-size: 12px;
    line-height: 15px;
    margin: 8px 0 15px 0;
  }

  &__row {
    display: flex;
    gap: 28px;
    margin-bottom: 15px;
  }

  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    gap: 10px;
  }

  &__icons {
    display: flex;
    gap: 3px;
  }

  &__wish--textarea {
    width: 300px;
    resize: horizontal;
    height: 50px;
  }

  &__title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
    gap: 3px;
  }

  &__question {
    padding-top: 1px;
  }

  &__help {
    margin-top: 4px;
    font-size: 10px;
    text-decoration: underline;
    text-decoration-color: #c30101;
    background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__size, &__wish {
    input {
      width: 300px;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }

  &__order {
    position: relative;
    font-weight: 600;
    padding: 15px 26px;
  }

  &__order::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    background-image: url(/images/custom/btn-bc.svg);
    background-size: 180px 50px;
    background-repeat: no-repeat;
    z-index: 5;
    width: 181px;
    height: 54px;
  }

  &__cart {
      padding: 15px 26px;
  }

  &__hit {
    position: static;
  }

  &__discount {
    position: static;
  }

  &__footer {
    display: flex;
    margin-top: 13px;
  }

  &__more {
    max-width: 795px;
    margin-right: 115px;
  }

  &__desc--relt {
    position: relative;
    margin: 8px 0 0 0;
  }

  &__white-bc {
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 4;
    background: linear-gradient(0deg, #FFFFFF 18.08%, rgba(255, 255, 255, 0.4) 100%);
  }

  &__read-more {
    font-size: 12px;
    text-decoration: underline;
    text-decoration-color: red;
    background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
    z-index: 4;
    margin-top: 6px;
  }

  &__text-more {
    transition: max-height 2s ease;
    display: block;
    max-height: 0;
    overflow: hidden;
  }

  &__more-text--show{
    max-height: 288px; 
    transition: max-height 2s ease;
  }
}

.tag {
  &__more-btn {
    margin-top: 5px;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-color: #da2727;
    background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
    z-index: 6;
  }

  &__more-tags {
    transition: max-height 2s ease;
    display: block;
    max-height: 0;
    overflow: hidden;
  }

  &__more-tags.click {
    max-height: 288px; 
    transition: max-height 2s ease;
  }
  
  &__btn {
    padding: 5px 6px; 
    background: #FFFFFF;
    font-size: 12px;
    box-shadow: 0px 4px 20px rgba(70, 69, 69, 0.1);
    border-radius: 8px;
    background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    margin-top: 8px;
    gap: 10px;
  }

  &__row {
    gap: 10px;
  }

  &__white-bc {
    position: absolute;
    height: 51px;
    width: 100%;
    bottom: -17px;
    left: 0;
    z-index: 4;
    background: linear-gradient(0deg, #FFFFFF 18.08%, rgba(255, 255, 255, 0.4) 100%);
  }
}

div.swiper-wrapper {
  box-sizing: border-box;
}

.product-slider {
  color: #fff;
}
.product-slider .swiper-container {
  width: 100%;
  height: 100%;
}
.product-slider__flex {
  display: flex;
  align-items: flex-start;
}
.product-slider__col {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 147px;
  margin-right: 10px;
}

.product-slider__prev {
  position: absolute;
  top: 0;
  right: 36%;
  z-index: 99;
}

.product-slider__next {
  position: absolute;
  bottom: 0;
  right: 36%;
  z-index: 99;
}

.slider__prev,
.slider__next {
  display: none;
}
.slider__prev:focus,
.slider__next:focus {
  outline: none;
}
.product-slider__thumbs {
  overflow: hidden;
  height: 556px;
}

.product-slider__thumbs .swiper-slide-thumb-active .product-slider__image {
  opacity: 1;
  border: 2px solid #c40000;
  border-radius: 22px;
}

.product-slider__images {
  position: relative;
  overflow: hidden;
  height: 556px;
  width: 457px;
}

.product-slider__image {
  width: 100%;
  height: 100%;
  background: #E4E4E5;
  border-radius: 22px;
}
.product-slider__image img {
  border-radius: 22px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .product-slider__flex {
    flex-direction: column-reverse;
  }
  .product-slider__col {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-top: 24px;
    width: 100%;
  }
  .product-slider__images {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .product-slider__thumbs {
    overflow: hidden;
    height: 100px;
    width: calc(100% - 96px);
    margin: 0 16px;
  }
}

.product-slider__btn-thumb--next {
  position: absolute;
  bottom: 0;
  right: 36%;
  background-image: url(/images/product/arrow-next.svg);
  height: 40px;
  width: 40px;
  transform: rotate(90deg);
  z-index: 6;
}

.product-slider__btn-thumb--prev {
  position: absolute;
  top: 0;
  right: 36%;
  background-image: url(/images/product/arrow-next.svg);
  height: 40px;
  width: 40px;
  transform: rotate(270deg);
  z-index: 6;
}

.product-slider__btn-main--next {
  position: absolute;
  top: 47%;
  right: 0;
  background-image: url(/images/product/arrow-next.svg);
  height: 40px;
  width: 40px;
  z-index: 6;
}

.product-slider__btn-main--prev {
  position: absolute;
  top: 47%;
  left: 0;
  background-image: url(/images/product/arrow-next.svg);
  height: 40px;
  width: 40px;
  z-index: 6;
  transform: rotate(180deg);
}

.relations-popup {
  position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;

  &__body {
    position: relative;
    padding: 30px 70px;
    background: #FFFFFF;
    border-radius: 22px;
    z-index: 99;
    height: 270px;
    margin-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &__body::after {
    content: '';
    position: absolute;
    background-image: url('/images/product/border-popup.svg');
    top: 0;
    left: 0;
    width: 447px;
    height: 274px;
    z-index: -3;
  }

  &__content {
    position: relative;
    margin: 30px 0 20px 0;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 18px;
  }

  &__input {
    position: relative;
    margin-top: 4px;
    width: 300px;
  }

  &__input-bc {
    position: absolute;
    top: 28px;
    right: 10px;
    width: 56px;
    height: 46px;
    background: linear-gradient(270deg, #E8E8E8 20.68%, rgba(232, 232, 232, 0) 100%);
    border-radius: 0px 15px 15px 0px;
}

  &__btn {
    display: block;
    width: 190px;
    padding: 15px 24px;
    margin: 0 auto;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  &__content {
    margin: auto;
    display: block;
    max-width: 700px;
    max-height: 600px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  } 
}

