.achievement-slider__slide {
  position: relative;
}

  div.swiper.achievement-slider {
    width: 1300px;
    padding-top: 6.125rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 63px 0 100px 0;
    z-index: 1;
  }
  
  div.achievement-slider__slide {
    max-width: 440px;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    background: linear-gradient(30.39deg, #9B696B 3.4%, #E1898C 87.99%);
    border-radius: 50px;
    align-items: center;
    img {
      width: 90%;
    }
  }
  
  div.swiper-button-disabled {
    display: none;
  }
  
  div.achievement-slider__slide h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    max-width: 254px;
    height: 78px;
    display: flex;
    align-items: center;
  }
  
  
  .swiper-slide-active.achievement-slider__slide div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: width 1s ease;
    img {
      width: 100%;
      transition: width 1s ease;
    }
  }

  div.achievement-slider__slide.swiper-slide.swiper-slide-active {
    background: linear-gradient(55.51deg, #D95E6E -8.69%, #FF2626 58.22%);
  }
  
  div.swiper-slide-prev.achievement-slider__slide {
    background: linear-gradient(352.85deg, #985758 3.26%, #FA6467 96.21%);
    img {
      width: 90%;
    }
  }
  
  div.swiper-slide-next.achievement-slider__slide {
    background: linear-gradient(352.85deg, #985758 3.26%, #FA6467 96.21%);
    img {
      width: 90%;
    }
  }

  div.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }

  div.swiper-3d .swiper-slide-shadow-left {
    background-image: none;
  }
  
  div.achievement-slider__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
  }
  
  div.swiper-3d {
    perspective: 902px;
  }

  .achievement-slider__pagination span.swiper-pagination-bullet  {
    width: 40px;
    height: 4px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
    border-radius: 100px;
  }
  
  .achievement-slider__pagination span.swiper-pagination-bullet-active {
    background: #FFFFFF;
  }
  
  div.swiper-pagination.achievement-slider__pagination.swiper-pagination-bullets {
    bottom: 108px;
  }
  
  button.swiper-button-prev.achievement-slider__btn--prev {
    left: 0;
  }
  
  button.swiper-button-next.achievement-slider__btn--next {
    right: 0;
  }

  div.swiper-slide-active .achievement-slider__btn {
    display: block;
  }

  .achievement-slider__btn {
    display: none;
    position: absolute;
    bottom: 38px;
    padding: 15px 43px;
    font-weight: 600;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    border-radius: 15px;
  }

.achievement-slider__link-absolute {
  display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.swiper-slide-active .achievement-slider__link-absolute {
  display: block;
}

/*
div.swiper.achievement-slider {
  max-width: 543px;
}*/
@media(max-width: 899px) {
  div.achievement-slider__pagination span.swiper-pagination-bullet  {
    width: 30px;
    height: 4px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 100px;
  }
  
  .achievement-slider__pagination span.swiper-pagination-bullet-active {
    background: #FFFFFF;
  }
  
  div.swiper-pagination.achievement-slider__pagination.swiper-pagination-bullets {
    bottom: 68px;
  }

	div.swiper.achievement-slider {
    max-width: 100%;
    padding: 40px 0 60px 0;
  }

  .achievement-slider {
    padding: 0 15px;
  }

  div.achievement-slider__slide {
    max-width: 300px;
    max-height: 430px;
  }


  div.swiper-slide-next.achievement-slider__slide img {
    width: 75%;
  }

  .achievement-slider__slide div img {
    width: 75%;
  }
  
  .swiper-slide-active.achievement-slider__slide div img {
    width: 75%;
  }

  div.achievement-slider__slide h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    max-width: 254px; 
    height: auto;
  }

  .swiper-slide-active.achievement-slider__slide div {
    gap: 15px;
    transition: none;
  }

  div.achievement-slider__group {
    gap: 15px;
  }

  .swiper-slide-active.achievement-slider__slide div img {
    transition: none;
  }

  div.swiper-slide-prev.achievement-slider__slide img {
    width: 75%;
  }

  button.swiper-button-next, 
  button.swiper-button-prev {
    display: none;
  }
}
