.help-form {
    &__container {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__wrapper {
        padding: 80px 0 110px 0;
        display: flex;
        justify-content: space-between;
    }
}

.need-help {
    &__body {
        border: 1px solid rgba(228, 228, 229, 0.5);
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
    }

    &__wrapper {
        padding: 40px;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;;
    }   
      
    &__subtitle {
        font-weight: 600;
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        span {
            background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .question-grey {
            margin-left: 4px;
        }
    }

   &__feedback {
        position: relative;
   }

   .feedback:before {
        content: '';
        position: absolute;
        display: block;
        z-index: 99;
        left: 0;
        top: 0;
        width: 42px;
        height: 50px;
        background: linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, #E8E8E8 69.79%);
   }

    &__input {
        background: #E8E8E8;
        border-radius: 15px;
        width: 300px;
        padding: 17px 15px;
        border: none;
        font-size: 12px;
        color: #6A6A6A;
    }

    &__input-bc {
        position: absolute;
        top: 26px;
        right: 10px;
        width: 56px;
        height: 46px;
        background: linear-gradient(270deg, #E8E8E8 20.68%, rgba(232, 232, 232, 0) 100%);
        border-radius: 0px 15px 15px 0px;
    }

    &__input::placeholder {
        font-size: 12px;
        color: #6A6A6A;
    }

    &__name {
        margin-bottom: 25px;
    }

    &__form {
        margin-top: 25px;
    }

    &__textarea {
        width: 300px;
        height: 151px;
        background: #E8E8E8;
        border-radius: 15px;
        border: none;
        font-weight: 500;
        font-size: 12px;
        padding: 17px 15px;
    }

    &__left {
        margin-right: 25px;
    }

    &__content {
        display: flex;
        padding-bottom: 20px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        border-top: 1px solid #E4E4E5;
    }

    &__require {
        font-size: 14px;
        color: #6A6A6A;

        span {
            background: linear-gradient(82.09deg, #730000 6.1%, #FF0000 13.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    /*
    &__submit {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 34px;
        background: linear-gradient(90deg, #730000, transparent) #FF0000;
        color: #fff;
        transition: background-color 1s;
        border-radius: 15px;
      }

      &__submit:hover {
        background-color: #FF0000;
      }
      */
    
}

.input-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
    
    span {
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.help-info {
    &__body {
        border: 1px solid rgba(228, 228, 229, 0.5);
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
    }

    &__wrapper {
        padding: 40px;
    }

    &__list {
        margin: 10px 62px 64px 0;
    }

    &__link {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        text-decoration-line: underline;
    }

    &__link:hover {
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__footer {
        display: flex;
        justify-content: end;
    }

    &__social {
        display: flex;
    }

    &__social a:not(:last-child) {
        margin-right: 10px;
    }
}

@media(max-width: 899px) {
    .help-form {
        &__wrapper {
            flex-direction: column;
            gap: 25px;
            padding-bottom: 40px;
            padding-top: 10px;
        }
    }

    .help-info {
        &__link {
            font-size: 20px;
            line-height: 24px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            margin: 10px 0 30px 0;
            gap: 8px;
        }

        &__wrapper {
            padding: 25px 20px;
        }
    }

    .need-help {
        &__wrapper {
            padding: 25px 20px;
        }

        &__title {
            font-size: 25px;
        }

        &__subtitle {
            font-size: 16px;
        }

        &__name {
            margin-bottom: 15px;
        }

        &__content {
            flex-direction: column;
            gap: 15px;
        }

        &__footer {
            flex-direction: column;
            gap: 25px;
        }

        &__textarea {
            width: 100%;
        }

        &__input {
            width: 100%;
        }

        &__left {
            margin-right: 0;
        }
    }
}        

