.question-form {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 0 115px 0;
    }
}

.need-help__subtitle {
    display: flex;
    align-items: center;
}

@media(max-width: 899px) {
    .question-form {
        &__wrapper {
            display: block;
            padding: 60px 0 80px 0;
    
            img {
                display: none;
            }
        }
    
        .container-right {
            padding: 0 15px;
        }
    }
}

