.cart {
    &__wrapper {
        position: relative;
        padding: 47px 0 115px 0;
        display: flex;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 40px;
        border: 1px solid rgba(228, 228, 229, 0.5);
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        max-width: 922px;
        margin-bottom: 40px;
    }
}

.cart-item {
    padding-bottom: 25px;
    border-bottom: 1px solid #E4E4E5;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__content {
        padding: 0 15px;
        border-right: 1px solid #E4E4E5;;
        max-width: 422px;
    }

    &__heading {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
    }

    &__title {
        width: 100%;
    }

    &__title-bc {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 27px;
        background: linear-gradient(270deg, #FFFFFF 18.75%, rgba(255, 255, 255, 0) 100%);
    }


    &__checkbox {
        margin-right: 10px;
    }

    &__checkbox label {
        padding-top: 15px;
    }

    &__custom {
        margin-top: 25px;
        font-weight: 600;
        line-height: 20px;
        max-width: 160px;
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 12px 0 33px 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #323232;

        span {
            font-weight: 600;
        }
    }

    &__buttons {
        display: flex;
        gap: 5px;
    }

    &__price {
        text-align: center;
        margin-top: 25px;
        display: flex;
        gap: 1px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        width: 220px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E4E4E5;
        height: 200px;
        border-radius: 22px;
        overflow: hidden;

        img {
            height: 200px;
        }
    }
}

.cart-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.cart-total {
    position: sticky;
    height: 100%;
    right: 0;
    top: 0;
    padding: 47px 0 115px 0;

    &__wrapper {
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        border: 2px solid #a90000;
        max-width: 350px;
    }

    &__body {
        padding: 40px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 350px;
    }

    &__details {
        padding-bottom: 20px;
        border-bottom: 1px solid #E4E4E5;
    }

    &__quantity {
        font-size: 14px;
        margin-bottom: 5px;
    }

    &__price {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }

    &__info {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #6A6A6A;
    }

    &__sale {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__delivery {
        display: flex;
        justify-content: space-between;
    }

    &__coupon-title {
        margin-bottom: 5px;
    }

    &__input {
        padding: 17px 15px;
        width: 100%;
    }

    &__coupon {
        position: relative;
    }

    .promo-active {
        opacity: 1;
    }

    &__enter {
        position: absolute;
        top: 24px;
        right: 0;
        padding: 15px 13px;
        border-radius: 15px;
        border: 2px solid red;
        background: #fff;
        opacity: 0.5;
    }

    &__apply {
        width: 100%;
        padding: 15px 0;
        border: 2px solid #a90000;
        border-radius: 15px;
        font-weight: 600;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__continue {
        width: 100%;
        color: #fff;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        border-radius: 15px;
        width: 100%;
        padding: 15px 0;
    }

    &__price-now {
        display: flex;
    }
}

.cart-popup {
    

    &__wrapper {
        position: fixed;
        top: 20%;
        left: 18%;
        position: fixed;
        z-index: 99;
    }

    &__left {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    &__body {
        position: relative;
        display: flex;
        gap: 20px;
        padding: 40px;
        background: #FFFFFF;
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
    }

    &__close {
        position: absolute;
        top: -60px;
        right: 0;
    }

    &__img {
        width: 240px;
        height: 268px;
        display: flex;
        justify-content: center;
        background: #E4E4E5;
        border-radius: 22px;
        margin-bottom: 15px;
    }

    &__price-now {
        display: flex;
        margin-top: 15px;
    }
    
    &__heading {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        gap: 3px;

        h4 {
            margin-bottom: 4px;
        }
    }

    &__textarea {
        width: 300px;
        padding: 10px 20px 10px 15px;
        background: #E8E8E8;
        border-radius: 15px;
        font-weight: 500;
        font-size: 12px;
        color: #6A6A6A;
        line-height: 15px;
        height: 65px;
        overflow: hidden;
    }

    &__input {
        width: 300px;
    }

    &__buttons {
        display: flex;
        gap: 10px;
        margin-top: 15px;
    }

    &__cancel {
        padding: 15px 40px;
        font-weight: 600;
        color: #6A6A6A;
        background: #E8E8E8;
        border-radius: 15px;
    }

    &__save {
        padding: 15px 27px;
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__col--left {
        gap: 30px;
    }

    &__help {
        margin-top: 4px;
        font-size: 10px;
        text-decoration: underline;
        text-decoration-color: #c30101;
    }

    &__form {
        display: flex;
        gap: 40px;
        margin-top: 12px;
    }
}


.tippy-tooltip.red-theme {
    color: #a90000;
    border: 2px solid #a90000;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}

.tippy-tooltip.grey-theme {
    font-size: 10px;
    line-height: 12px;
    color: #464646;
    background: #E4E4E4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.tippy-tooltip.dark-theme {
    color: #000;
    border: 2px solid #a90000;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}



.cart__wrapper .cart-info__wrapper {
    padding-bottom: 0;
}

.cart .flex-container {
    display: flex;
    gap: 26px;
}

.cart-item__heading {
    --transparency-width: 30px;
    --title-width: 375px;
    overflow: hidden;
    position: relative;
}
  
  /*
  .goods-slider__heading::before {
    background-image: linear-gradient(to right, var(--bg), transparent);
    left: 0;
  }
  */

  .cart-item__heading::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 27px;
    background: linear-gradient(270deg, #FFFFFF 18.75%, rgba(255, 255, 255, 0) 100%);
    right: 0;
    top: 0;
  }
  

  .cart-item__title {
    width: -webkit-max-content; /* Для поддержки старых браузеров */
    width: max-content;
    animation: movingTitleText infinite 6s alternate ease-in-out running;
  }
  
  @keyframes movingTitleText {
    0%, 20% {
      transform: translate(0px);
    }
  
    40%, 60% {
      transform: translate(calc(-100% + var(--title-width) - var(--transparency-width) * 2));
    }
  
    80%, 100% {
      transform: translate(0px);
    }
  }