.cart {
    &__wrapper {
        position: relative;
        padding: 47px 0 40px 0;
        display: flex;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 40px;
        border: 1px solid rgba(228, 228, 229, 0.5);
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        max-width: 922px;
    }
}

.cart-item {
    &__wrapper {
        padding-bottom: 25px;
        border-bottom: 1px solid #E4E4E5;
        display: flex;
        align-items: center;
    }

    &__content {
        padding: 0 15px;
        border-right: 1px solid #E4E4E5;;
        max-width: 422px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    &__checkbox {
        margin-right: 10px;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 12px 0 33px 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #323232;

        span {
            font-weight: 600;
        }
    }

    &__icons {
        display: flex;
        gap: 5px;
    }

    &__price {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        width: 220px;
    }

    &__sale {
        display: flex;
        align-items: center;
    }

    &__cost {
        font-size: 18px;
        text-decoration-line: line-through;
        color: #6A6A6A;
        margin-right: 10px;
    }

    &__percent {
        font-size: 18px;
        margin-right: 2px;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.cart-total {
    position: sticky;
    height: 100%;
    right: 0;
    top: 0;

    &__wrapper {
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        border: 2px solid #a90000;
        max-width: 350px;
    }

    &__body {
        padding: 40px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__details {
        padding-bottom: 20px;
        border-bottom: 1px solid #E4E4E5;
    }

    &__quantity {
        font-size: 14px;
        margin-bottom: 5px;
    }

    &__price {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }

    &__info {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #6A6A6A;
    }

    &__sale {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__delivery {
        display: flex;
        justify-content: space-between;
    }

    &__coupon-title {
        margin-bottom: 5px;
    }

    &__input {
        background: #E8E8E8;
        border-radius: 15px;
        padding: 17px 15px;
        font-size: 12px;
        color: #6A6A6A;
        width: 100%;
        margin: 5px 0 10px 0;
    }

    &__apply {
        width: 100%;
        padding: 15px 0;
        border: 2px solid #a90000;
        border-radius: 15px;
        font-weight: 600;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__continue {
        width: 100%;
        color: #fff;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        border-radius: 15px;
        width: 100%;
        padding: 15px 0;
    }
}