.bottom-menu {
    background-color: #fff;
    z-index: 4;
}

.menu {
    &__wrapper {
        padding-bottom: 80px;
    }

    &__items {
        display: flex;
        gap: 26px;
        padding: 30px 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        position: relative;
        margin-bottom: 20px;
    }

    &__border {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        font-weight: 600;
        font-size: 14px;
        text-align: center;
    }
}

@media(max-width: 899px) {
    .menu {
        &__items {
            flex-wrap: wrap;
        }

        &__item:nth-child(odd) {
           justify-content: flex-end;
        }
    }
}


