.goods {
    &__container {
        max-width: 1300px;
        margin: 0 auto;
    }

    &__wrapper {
        padding-bottom: 115px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
    }

    &__link {
        font-size: 14px;
        text-decoration-line: underline;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.container-right {
    padding-left: calc((100% - 1300px) / 2);
}

.goods-slider {
    max-width: 1380px;
    height: 100%;
    padding-top: 17px;
    position: relative;
}

.goods-slider {
    color: #000;
    &__body {
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
        border-radius: 22px;
        position: relative;
    }

    &__content {
        padding: 6px 0 19px 13px;
    }

    &__wrapper {
        display: flex;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        margin: 0 0 8px 0;
    }

    &__sale-price {
        font-weight: 600;
        font-size: 14px;
    }

    &__price {
        font-size: 12px;
        text-decoration-line: line-through;
        color: #6A6A6A;
    }

    &__sale {
        font-size: 12px;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin: 0 3px 0 5px;
    }

    &__img {
        width: 100%;
        background: #E4E4E5;
        border-radius: 22px 22px 0 0;
    }
}

.hit {
    &__wrapper {
        position: absolute;
        top: 5px;
        left: 8px;
    }

    &__body {
        position: relative;
    }

    &__title {
        position: absolute;
        top: 15px;
        left: 7px;
        color: #fff;
        font-weight: 800;
        font-size: 14px;
    }
}

.discount {
    &__wrapper {
        position: absolute;
        top: 5px;
        right: 8px;
    }
    
    &__body {
        position: relative;
    }

    &__title {
        position: absolute;
        top: 15px;
        left: 7px;
        color: #fff;
        font-weight: 800;
        font-size: 14px;
    }
}

.new {
    &__wrapper {
        position: absolute;
        top: 5px;
        left: 8px;
    }

    &__body {
        position: relative;
    }

    &__title {
        position: absolute;
        top: 15px;
        left: 4px;
        color: #fff;
        font-weight: 800;
        font-size: 14px;
    }
}

.swiper-button-next,
.swiper-button-prev {
   outline: none;
}


button.swiper-button-next {
    background-image: url(/images/slider/arrow-prev-bc.svg);
    background-size: 48px 48px;
    background-position: center center;
    width: 48px;
    height: 48px;
}

button.swiper-button-prev {
    background-image: url(/images/slider/arrow-prev-bc.svg);
    background-size: 48px 48px;
    background-position: center center;
    width: 48px;
    height: 48px;
}

button.swiper-button-next::after {
    content: '';
    background-image: url(/images/slider/arrow-next.svg);
    position: absolute;
    top: 13px;
    left: 19px;
    width: 12px;
    height: 21px;
}

.swiper-button-prev::before {
    content: '';
    background-image: url(/images/slider/arrow-prev.svg);
    position: absolute;
    top: 13px;
    left: 19px;
    width: 12px;
    height: 21px;
}

button.swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}

