.social {
    display: flex;
    gap: 10px;
}

.maintenance {
    &__header {
        display: flex;
        justify-content: center;
        margin: 90px 0;
    }

    &__img {
        height: 95vh;
    }

    &__wrapper {
        display: flex;
        align-items: end;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    &__title {
        font-weight: 700;
        font-size: 68px;
        line-height: 83px;
        margin-bottom: 13px;
        margin-top: 40px;
    }

    &__desc {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 28px;
    }

    &__content {
        font-size: 24px;
        max-width: 670px;
        margin-bottom: 20px;
    }

    &__number {
        display: flex;
        flex-direction: column;
        flex: 1 0 35%;
        line-height: 32px;
    }

    &__info {
        display: flex;
        margin-bottom: 20px;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 133%;
        margin-left: 25px;
    }
}
