.categories {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        gap: 60px;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        max-width: 240px;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 45px;
        row-gap: 15px;
        flex-wrap: wrap;
    }

    &__tag {
        font-size: 14px;
        padding: 4px 6px;
    }

    &__more {
        display: none;
    } 

    &__tag--active {
        text-shadow: 0.4px 0px 0px #FFFFFF;
        color: #fff;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        border-radius: 8px;
    }

    &__item {
        font-size: 14px;
    }

    &__item--active {
        padding: 4px 6px;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        border-radius: 8px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }

    &__filter {
        position: relative;
        padding: 15px;
    }
    &__filter::after {
        content: "";
        position: absolute;
        background-image: url(/images/categories/filter-bc.svg);
        background-position: center center;
        top: -9px;
        left: -12px;
        z-index: -1;
        width: 76px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 37px
    }
}

.categories-item {
    position: relative;
    color: #000;
    cursor: pointer;
    will-change: transform; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 22px;

    .categories-item__link--abst {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 6;
    }

    &__wrapper-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E4E4E5;
        max-height: 344px;
    }

    &__body {     
        width: 297px;
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
        border-radius: 22px;
        overflow: hidden;
    }

    &__custom::after {
        content: "";
        position: absolute;
        top: -7px;
        left: -22px;
        background-image: url('/images/categories/border.svg');
        width: 323px;
        height: 492px;
    }

    &__content {
        padding: 17px 0 27px 13px;
        height: 108px;
    }

    &__wrapper {
        display: flex;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        margin: 0 0 8px 0;
    }

    &__sale-price {
        font-weight: 600;
        font-size: 16px;
    }

    &__price {
        font-size: 14px;
        text-decoration-line: line-through;
        color: #6A6A6A;
    }

    &__sale {
        font-size: 14px;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin: 0 3px 0 5px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E4E4E5;
        height: 344px;
        width: 100%;
    }

    &__border {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    &__title-custom {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 2px;
    }

    &__desc {
        max-width: 145px;
    }
}

.categories-item:hover {
    transform: scale(1.01);
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
}


@media(max-width: 899px) {
    .categories {    
        &__list {
            display: none;
        }

        &__filter {
            padding: 0;
            
            img {
                width: 30px;
            }
        }

        &__filter::after {
            display: none;
        }

        &__items {
            column-gap: 10px;
            row-gap: 16px;
        }

        &__header {
            padding: 10px 0 20px 0;
        }

        &__more {
            font-weight: 600;
            font-size: 16px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 25px;
        }

        &__main {
            margin-bottom: 80px;
        }
    }

    .categories-item {
        &__body {
            width: 167px;
        } 

        &__img {
            height: 188px;
        }

        &__title {
            font-size: 12px;
            margin-bottom: 2px;
        }

        &__sale-price, &__price, &__sale, &__desc {
            font-size: 9px;
        }

        &__content {
            padding: 8px 11px 10px 11px;
            height: 59px;
        }

        &__title-custom {
            font-size: 10px;
        }

        &__custom::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('/images/categories/border-mobile.svg');
            width: 166px;
            height: 247px;
        }
    }

    .categories-item--hidden {
        display: flex;
        gap: 10PX;
        flex-wrap: wrap;
    }

    .pagination {
        display: none;
    }

}