.categories {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__item {
        font-size: 14px;
    }

    &__item--active {
        padding: 4px 6px;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        border-radius: 8px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }

    &__filter {
        position: relative;
        padding: 15px;
    }
    &__filter::after {
        content: "";
        position: absolute;
        background-image: url(/images/categories/filter-bc.svg);
        background-position: center center;
        top: -9px;
        left: -12px;
        z-index: -1;
        width: 76px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px
    }
}

.categories-item {
    position: relative;
    color: #000;

    &__wrapper-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E4E4E5;
        max-height: 344px;
    }

    &__body {     
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
        border-radius: 22px;
        width: 297px;
        overflow: hidden;
    }

    &__custom::after {
        content: "";
        position: absolute;
        top: -7px;
        left: -22px;
        background-image: url('/images/categories/border.svg');
        width: 323px;
        height: 492px;
    }

    &__content {
        padding: 17px 0 27px 13px;
        height: 108px;
    }

    &__wrapper {
        display: flex;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        margin: 0 0 8px 0;
    }

    &__sale-price {
        font-weight: 600;
        font-size: 16px;
    }

    &__price {
        font-size: 14px;
        text-decoration-line: line-through;
        color: #6A6A6A;
    }

    &__sale {
        font-size: 14px;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin: 0 3px 0 5px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E4E4E5;
        height: 344px;
        width: 100%;
    }

    &__border {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    &__title-custom {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 2px;
    }

    &__desc {
        max-width: 145px;
    }
    
}

