.cart-empty {
    &__heading {
        display: flex;
        justify-content: center;
    }

    &__title {
        font-weight: 700;
        font-size: calc( 25px + 7 * ((100vw - 320px) / 1600) );
        display: -ms-flexbox;
        text-align: center;
        width: 100%;
        margin: 90px 0 90px 0;
    }
}