.partners {
    &__title {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        margin-bottom: 42px;
    }
}

.partners-slider {
    height: 100%;
    position: relative;
    &__wrapper {
        display: flex;
        align-items: center;
    }
}

button.partners__button-prev {
    left: 29px;
}

button.partners__button-next {
    right: 29px;
}

.main-page .partners__wrapper {
    margin-bottom: 130px;
}

@media(max-width: 899px) {
    .main-page .partners__wrapper {
        margin-bottom: 85px;
    }

    .partners {
        &__title {
            margin-bottom: 20px;
            display: block;
        }
    }
}



