.header {
  position: relative;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      display: flex;
      gap: 25px;
    }

    &__item {
      padding: 38px 0;
      font-weight: 600;
      text-align: center;
    }

    &__contact {
      display: flex;
    }

    &__tel--bottom {
      margin-bottom: 5px;
    }

    &__contact-left {
      margin-right: 25px;
    }

    &__email {
      font-weight: 700;
    }

    &__social {
      display: flex;
      margin-top: 10px;
      margin-right: 11px;
    }

    &__social-link {
      margin-right: 10px;
    }

    &__social-link:last-child {
      margin-right: 0;
    }

    &__cart-num {
      font-weight: 800;
      font-size: 18px;
      background: linear-gradient(53.19deg, #7D0000 14.23%, #BE0000 45.48%, #FF0000 85.39%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__cart {
      display: flex;
      align-items: center;

      img {
        margin-right: 5px;
      }
    }
  }

  .header__dropdown-wrapper {
    position: absolute;
    top: 89px;
    z-index: 44;
    width: 100vw;
    color: black;
    background-color: #D9D9D9;
    left: 0;
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .header__dropdown:hover .header__dropdown-wrapper{
    display: block;
  }


  @media (max-width: 1399px) { 
  }