.header.out {
	transform: translateY(-100%);
}

.header {
  position: fixed;
	top: 0; 
  left: 0;
	width: 100%;
	transition: all .3s ease;
  z-index: 90;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      display: flex;
      gap: 79px;
    }

    &__item {
      padding: 38px 0;
      font-weight: 600;
      text-align: center;
    }

    &__cart-num {
      font-weight: 800;
      font-size: 18px;
      background: linear-gradient(53.19deg, #7D0000 14.23%, #BE0000 45.48%, #FF0000 85.39%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__cart {
      display: flex;
      align-items: center;
      padding: 10px 13px;     
      background: #FFFFFF;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      width: 81px;

      img {
        height: 38px;
        width: 35px;
        margin-right: 5px;
      }
    }

    &__cart-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 250px;
    }
}

.menu__img:hover .menu__shadow {
  opacity: 1;
}

.menu__shadow {
  opacity: 0;
  position: absolute;
  width: 195px;
  height: 196px;
  top: -3px;
  left: 0;
  transform: scale(1.12);
  z-index: -2;
  transition: opacity 0.4s ease;
}

  .header__dropdown-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    position: absolute;
    top: 94px;
    z-index: 44;
    width: 100vw;
    color: black;
    background-color: #D9D9D9;
    left: 0;
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .header__dropdown:hover .header__dropdown-wrapper{
    max-height: 288px; /* Здесь можно указать желаемую максимальную высоту меню */
    transition: max-height 0.5s ease;
    backdrop-filter: blur(8px);
  }

  .header__dropdown-wrapper.click{
    max-height: 288px; /* Здесь можно указать желаемую максимальную высоту меню */
    transition: max-height 0.5s ease;
    backdrop-filter: blur(8px);
  }

@media screen and (min-width: 900px) {
  .header-mobile {
    display: none;
  }

  .preview__open {
    display: none;
  }
}  
  
@media(max-width: 899px) {
	.header {
    &__wrapper {
      display: none;
    }
  }

  .header-mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #EBECEC;
    width: 100%;
    z-index: 99;
    &__items {
      display: flex;
      justify-content: space-between;
      padding: 7px 0;
    }
    &__item a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }

    &__subtitle {
      font-weight: 600;
      font-size: 8px;
    }

    &__subtitle.active {
      background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}