.bill {
    &__container {
       position: relative;
    }

    &__wrapper {
        position: relative;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img--left {
        position: absolute;
        bottom: 0;
        left: -64px;
        z-index: 20;
    }

    &__body {
        position: relative;
        padding: 92px 37px 18px 37px;;
        font-family: 'Source Code Pro', monospace;
        transition: transform 1s ease;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        width: 957px;
        z-index: 3;
    }

    &__body::before {
        content: "";
        position: absolute;
        background-image: url(/images/bill/bill-bc.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        width: 957px;
        height: 100%;
        left: 0;
        bottom: -6px;
        z-index: -3;
    }

    &__body.up {
        transform: translateY(-47%);
      }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-align: center;

    }

    &__desc {
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        max-width: 828px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
        gap: 20px;
    } 

    &__heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }

    &__buttons {
        position: absolute;
        top: 92px;
        right: 37px;
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        gap: 40px;
        margin: 20px 0 18px 0;
    }

    &__goods {
        padding: 15px 0;
        border-bottom: 1px dashed #000;
    }

    &__good {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;

        .block {
            text-align: right;
        }
    }

    &__good-name {
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
        max-width: 270px;
    }

    &__good-name:hover {
        overflow: visible;
    }

    &__text--bold {
        font-weight: 600;
    }

    &__order {
        display: flex;
        justify-content: space-between;
    }

    &__account {
        padding: 15px 0;
        border-bottom: 1px dashed #000;
    }

    &__discount {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__delivery {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__coupon {
        display: flex;
        justify-content: space-between;
    }

    &__total {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px dashed #000;
    }

    &__message {
        padding: 15px 0;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        border-top: 1px dashed #000;
    }

    &__thanks {
        text-align: center;
        font-weight: 600;
    }

    &__hidden {
        position: relative;
        width: 100vw;
        height: 40px;
        background: #FFFFFF;
        box-shadow: 0px -30px 30px rgba(0, 0, 0, 0.15);
        z-index: 4;
    }
}

.share.active {
    opacity: 1;
    transition: opacity 1s;
    visibility: visible;
}


.share {
    position: absolute;
    top: -138px;
    right: -154px;
    background-image: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
    border-radius: 20px;
    margin: 0 auto;
    padding: 2px;
    width: 402px;
    z-index: 2;
    font-family: 'Montserrat';
    display: block;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;


    &__body {
        position: relative;
        padding: 18px;
        background: #fff;
        border-radius: 18px;

        input {
            
            background: #E8E8E8;
            border-radius: 15px;
            height: 50px;
            width: 362px;
            font-size: 12px;
            padding-left: 15px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 13px;
    }

    &__btn {
        position: absolute;
        right: 18px;
        top: 54px;
        background-image:  linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        border-radius: 16px;
        box-sizing: border-box;
        display: block;
        height: 50px;
        padding: 2px;
        width: 115px;
        z-index: 2;
        
        span {
            align-items: center;
            background: #fff;
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            border-radius: 14px;
        }

        p {
            font-weight: 600;
            font-size: 12px;
        }
    }
}
