.gallery {
    &__header {
        display: flex;
        padding: 30px 0 40px 0;
    }

    &__tag {
        font-size: 14px;
        padding: 4px 6px;
        background: #E8E8E8;
        border-radius: 8px;
    }

    &__more {
      display: none;
    }

    &__item {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      will-change: transform;
      cursor: pointer;
      
      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }

    &__goods {
      border-radius: 15px;
      display: block;
      font-size: 16px; /*18*/
      height: 50px;
      padding: 2.2px 2.4px 2.4px 2.4px;
      font-weight: 600;
      width: 99%;
      position: relative;
      z-index: 2;

      span {
        align-items: center;
        background: #ffffff;
        border-radius: 13px;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
    }

    &__goods.red-hover-btn {
      width: 181px;
    }

    &__item:hover {
      transform: scale(1.01);
    }
  

    &__tag--white {
      background: #fff;
    }

    &__content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 15px 10px;
      margin-left: 100px;
    }

    &__main {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 1521px;
      margin: 0 auto;
    }

    &__more-tags {
      max-height: 0;
      overflow: hidden;
      transition: max-height .6s ease;
      display: flex;
      flex-wrap: wrap;
      gap: 15px 10px;
    }

    &__goods.red-hover-btn {
      width: 181px;
    }

    &__more-tags.click {
      max-height: 66px;
      transition: max-height .6s ease;
    }


    &__item-wrapper {
      position: absolute;
      top: 0;
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      padding: 12px;
    }

    &__item-tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      width: 38%;
      gap: 10px 7px;
    }

    &__item-price {
      padding: 4px 6px;
      font-weight: 600;
      font-size: 14px;
      background-color: #FFFFFF;
      box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      border: 1px solid#be1b1b;
    }

    &__item-btn {
      cursor: pointer;
    }

    &__item--hidden {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      transition: opacity 1s ease;
    }

    &__item--hidden.more {
      opacity: 1;
      max-height: 100%;
      overflow: visible;
      visibility: visible;
      transition: opacity 1s ease;
    }
}

.hidden {
  display: none;
}

.product__subtitle {
  display: flex;
  align-items: start;
}

.tag-active {
    text-shadow: 0.4px 0px 0px #FFFFFF;
    color: #fff;
    background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
    border-radius: 8px;
}

.order-popup {
  position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;

  &__body {
    position: relative;
    padding: 40px;
    background: #FFFFFF;
    border-radius: 22px;
  }

  &__content {
    margin: 30px 0 20px 0;
  }

  &__close {
    position: absolute;
    top: -60px;
    right: 0;
  }

  &__subtitle {
    display: flex;
  }
}

.more-btn__tags {
  margin-top: 0;
}

.more-btn__close {
  margin-top: 15px;
  margin-left: 100px;
}

.order-popup .product__wish--textarea {
  width: 330px;
}

.order-popup .input-text {
  width: 330px;
}

.order-popup .select {
  width: 330px;
}

.order-popup__close--mobile {
  display: none;
}

.order-popup  .product__content {
  width: 640px;
}

.product__link-mobile {
  display: none;
}

div.select-popup {
  top: 13px;
  right: -13px;
}

.gallery__grid {
  columns: 4;
  gap: 6px;
  width: 94%;

  @media (max-width: 3000px) {
    columns: 3;
    gap: 6px;
  }

  @media (max-width: 2200px) {
    columns: 7;
    gap: 6px;
  }

  @media (max-width: 2000px) {
    columns: 6;
    gap: 6px;
  }

  @media (max-width: 1800px) {
    columns: 5;
    gap: 6px;
  }

  @media (max-width: 1600px) {
    columns: 4;
    gap: 6px;
  }
  @media (max-width: 1200px) {
    columns: 3;
    gap: 6px;
  }
  @media (max-width: 992px) {
    columns: 2;
    gap: 6px;
  }
  @media (max-width: 600px) {
    columns: 1;
    gap: 6px;
    width: 100%;
  }

  //@media (max-width: 768px) {columns: 1;}
  .gallery__item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 22px;
    
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

@media(max-width: 899px) {
  .gallery__tags {
    display: none;
  }
  .news__wrapper {
    display: none;
  }
  .gallery__header {
    padding: 15px 0 25px 0;
  }

  .order-popup__close--mobile {
    display: inline;
  }

  .product__link-mobile {
    display: inline;
  }

  .gallery {
    &__main {
      gap: 20px;
      margin-bottom: 60px;
    }

    &__more {
      width: 100%;
    }

    &__wrapper {
      margin-bottom: 0;
    }

    &__grid {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
    }

    &__more {
      display: flex;
      margin-top: 10px;
    }

    div &__title {
      font-size: 32px;
    }
  }

  .gallery-active-page .gallery__main {
    margin-bottom: 0px;
  }

  .order-popup {
    top: 10%;
    left: 0;
    transform: none;
    z-index: 98;

    &__wrapper {
      width: 100vw;
      height: 100vh;
    }

    &__close--mobile {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -75%);
      top: -1%;
      text-align: center;
      text-decoration-line: underline;
      color: #FFFFFF;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
      font-weight: 300;
    }

    .product__hit  {
      width: 45px;
    }
  
    .hit__title, .discount__title {
      font-size: 14px;
      top: 14px;
      left: 6px;
    }
  
    .discount {
      &__wrapper {
        width: 45px;
      }
    }

    &__body {
      padding: 0;
      border-radius: 22px 22px 0 0;
    }

    & .product-slider__images {
      width: 100%;
      height: 100%;
    }

    &__close {
      display: none;
    }

    & .product-slider__thumbs {
      display: none;
    }

    & .product-slider__flex {
      gap: 0;
      border-radius: 22px 22px 0 0;
      overflow: hidden;
    }

    & .product__content {
      margin-top: 12px;
      padding: 0 15px;
      width: 100%;
      height: 100vh;

      .subtitle {
        font-size: 20px;

        img {
          display: none;
        }
      }
    }

    & .product__desc {
      display: none;
    }

    & .product__form {
      display: none;
    }

    & .product-slider__pagination span.swiper-pagination-bullet {
      width: 62px;
    }

    & .product__price {
      margin-top: 4px;
      margin-bottom: 10px
    }

    & .product__link-mobile {
      font-size: 14px;
      text-align: center;
      text-decoration: underline;
      text-decoration-color: #c30101;
    }
  }
}
