.news {
    &__wrapper {
        padding: 10px 0;
        margin-top: 95px;
        --c1: #730000;
         --c2: #FF0000;
        background: linear-gradient(294deg, var(--c1, #730000), var(--c2, #FF0000) 50%, var(--c1, #FF0000)) var(--x, 0)/200%;
        animation: background-red-infinite 6s infinite ease-in-out;
    }

    p {
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        text-align: center;
    }
}

@keyframes background-red-infinite {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
  }


@media(max-width: 899px) {
    .back {
        display: none;
    }
}