.info {
    z-index: 4;
    background: #fff;
    
    &__wrapper {
        padding: 0 0 115px 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__body {
        max-width: 922px;
        padding: 40px;
        border: 1px solid rgba(228, 228, 229, 0.5);
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 12px;
    }

    &__desc {
        line-height: 20px;
    } 

    &__item:not(:last-child) {
        margin-bottom: 20px;
    }    
}

.cart-main .info-cart__wrapper {
    display: flex;
    justify-content: left;
}

@media(max-width: 899px) {
    .info {
        &__title {
            font-size: 18px;
        }

        &__body {
            border-radius: 22px;
            width: 100%;
        }
        
        &__wrapper {
            padding-bottom: 80px;
        }
    }
}