.gratitude {
    position: fixed;
    right: 10px;
    bottom: 0;
    z-index: 11;
    &__wrapper {
        display: flex;
        justify-content: flex-end;
        margin: 0 44px 61px 0;
    }

    &__body {
        background-image: url(/images/gratitude/gratitude-bc.svg);
        background-position: center center;
        background-repeat: no-repeat;
        width: 377px;
        height: 303px;
        padding: 42px 59px 58px 59px;
        position: relative;
        overflow: hidden;
    }


    &__body::before {
        content: '';
        background-image: url('/images/gratitude/men.png');
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 30px;
        right: 34px;
        width: 307px;
        height: 270px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 26px;
    }

    &__desc {
        font-size: 12px;
        max-width: 248px;
        line-height: 15px;
        margin-bottom: 15px;
    }
/*
    &__btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 26px;
        font-weight: 600;
        z-index: 2;

        p {
            background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        img {
            margin-right: 5px;
        }
    }*/

    &__btn  {
        border-radius: 15px;
        display: block;
        font-size: 16px; /*18*/
        height: 50px;
        padding: 2.2px 2.4px 2.4px 2px;
        font-weight: 600;
        width: 99%;
        position: relative;
        z-index: 2;
    }

    .gratitude__btn.red-hover-btn {
        width: 177px;
    }

   
    
    &__btn  span {
        align-items: center;
        background: #ffffff;
        border-radius: 13px;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    &__promo {
        font-weight: 700;
        font-size: 18px;
        margin: 5px 0 30px 0;
    }

    &__subtitle {
        margin-top: 36px;
    }
}

.gratitude-mobile {
    display: none;
}

@media(max-width: 899px) {
    .gratitude {
        display: none;
    }
    

    .gratitude-mobile{
        display: block;
        position: fixed;
        bottom: 59px;
        z-index: 44;

        &__wrapper {
            background-color: #fff;
            padding: 16px 16px 23px 16px;
            border-radius: 22px 22px 0px 0px;
            width: 100vw;
        }

        &__desc {
            font-size: 12px;
            margin-bottom: 15px;
        }

        .gratitude__title {
            margin-bottom: 15px;
        }

        &__btn  {
            border-radius: 15px;
            display: block;
            font-size: 16px; /*18*/
            height: 50px;
            padding: 2.2px 2.4px 2.4px 2px;
            font-weight: 600;
            width: 99%;
            position: relative;
            z-index: 2;
        }
    
        .gratitude__btn.red-hover-btn {
            width: 177px;
        }

        &__btn  span {
            align-items: center;
            background: #ffffff;
            border-radius: 13px;
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
        }
    
        .gratitude__promo {
            margin: 5px 0 15px 0;
        }    
    }
}