.gratitude {
    &__wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 127px 0 61px 0;
        margin-right: 45px;
    }

    &__body {
        background-image: url(/images/gratitude/gratitude-bc.svg);
        background-position: center center;
        background-repeat: no-repeat;
        width: 377px;
        height: 303px;
        padding: 42px 59px 58px 59px;
        position: relative;
        overflow: hidden;
    }


    &__body::before {
        content: '';
        background-image: url('/images/gratitude/men.png');
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 30px;
        right: 34px;
        width: 307px;
        height: 270px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 26px;
    }

    &__desc {
        font-size: 12px;
        max-width: 248px;
        line-height: 15px;
        margin-bottom: 15px;
    }

    &__btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 26px;
        font-weight: 600;
        z-index: 2;

        p {
            background: linear-gradient(88.01deg, #730000 -9.57%, #FF0000 115.37%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        img {
            margin-right: 5px;
        }
    }

    &__btn::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('/images/gratitude/border-btn.svg');
        background-repeat: no-repeat;
        z-index: -1;
        width: 204px;
        height: 50px;
    }

    &__promo {
        font-weight: 700;
        font-size: 18px;
        margin: 5px 0 30px 0;
    }

    &__subtitle {
        margin-top: 36px;
    }

    &__close {
        padding: 0px 18px;
    }
}